@import "@material/textfield/mdc-text-field";

.searchField, .chips {
    display: flex;
    justify-content: center;
}

.button-container {
    padding-top: 45px;
}

.population, .intervention {
    margin: 35px 20px;
    width: 450px;
}

#homeIcon {
    font-size: 60px;
    align-self: flex-start;
    padding-top: 30px;
}

.mdc-card {
    margin: 30px;
    width: 90%;
    /* height: 225px; */
}

.column {
    display: table-cell;
    padding: 20px;
    width: 33.3%;
}

.row {
    display: table;
    /* Make the container element behave like a table */
    width: 100%;
    /* Set full-width to expand the whole page */
}

.reviewArticles {
    padding-top: 160px;
    position: relative;
    padding-left: 50px;
}

.menuButton {
    padding-top: 45px;
}

.pioCard {
    padding: 20px;
    height: 400px;
}

.pioList {
    max-height: 320px;
    overflow: hidden;
    overflow-y: auto;
}

/* Colors */

.lightBGColor {
    background-color: #FFF9FF
}

.popColorDark {
    color: #0026D5
}

.intColorDark {
    color: #D500AE
}

.outColorDark {
    color: #D59700
}

.popColorDarker {
    color: #00198D
}

.intColorDarker {
    color: #8D0073
}

.outColorDarker {
    color: #8D6400
}

.popColorLightBG {
    background-color: #CBCBF0
}

.intColorLightBG {
    background-color: #F0CBE3
}

.outColorLightBG {
    background-color: #F0DDCB
}
