{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLR Search</title>

    {{ super() }}
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href={{ url_for('static',filename='search.css') }}>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    {% endblock %}
</head>

<body>
    {% block content %}

    <header class=" mdc-top-app-bar mdc-top-app-bar--prominent mdc-top-app-bar--dense ">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <form class='searchField' action='search' method='POST'>
                    <button type='button' class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded menuButton" onclick="openNav()">menu</button>
                    <div id="mySidebar" class="sidebar">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    </div>
                    <a href='/'><i class="material-icons mdc-theme--on-primary" id="homeIcon">biotech</i>
                    </a>
                    <label class="mdc-text-field mdc-text-field--filled population">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="population-label" name="population">
                        <span class="mdc-floating-label" id="population-label">Population of interest</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <label class="mdc-text-field mdc-text-field--filled intervention">
                        <span class="mdc-text-field__ripple"></span>
                        <input type="text" class="mdc-text-field__input" aria-labelledby="intervention-label" name="others">
                        <span class="mdc-floating-label" id="intervention-label">Intervention and outcomes of interest</span>
                        <span class="mdc-line-ripple"></span>
                    </label>
                    <div class='button-container'>
                        <button type="submit" class="mdc-button submit">
                            <div class="mdc-button__ripple"></div>
                            <span class="mdc-button__label mdc-theme--on-primary">
                                Search
                            </span>
                        </button>
                    </div>
                </form>
                <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                </section>
        </div>
        <section class='chips'>
            <div class="mdc-chip-set" role="grid">
                <div class="mdc-chip" role="row">
                    <div class="mdc-chip__ripple"></div>
                    <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Chip One</span>
                        </span>
                    </span>
                </div>
                <div class="mdc-chip" role="row">
                    <div class="mdc-chip__ripple"></div>
                    <span role="gridcell">
                        <span role="button" tabindex="-1" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Chip Two</span>
                        </span>
                    </span>
                </div>
                <div class="mdc-chip" role="row">
                    <div class="mdc-chip__ripple"></div>
                    <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Chip Three</span>
                        </span>
                    </span>
                </div>
                <div class="mdc-chip" role="row">
                    <div class="mdc-chip__ripple"></div>
                    <span role="gridcell">
                        <span role="button" tabindex="0" class="mdc-chip__primary-action">
                            <span class="mdc-chip__text">Chip Four</span>
                        </span>
                    </span>
                </div>
            </div>
        </section>
    </header>

    <div class='reviewArticles mdc-top-app-bar--dense-prominent-fixed-adjust'>
        <div>
            <h2 class='mdc-theme--on-surface'>Searcing for {{ search[0] }} {{ search[1] }}</h2>
        </div>

        <hr>
        {% for abstract in abstracts %}
        <div class="mdc-card mdc-card--raised">
            <h2 class='mdc-theme--on-surface'>{{ abstract['Title'] }}</h2>
            <span>{{ abstract['Content'] }}</span>
            <div class="row">
                <div class="column" style="height:100%">
                    <div class="mdc-elevation--z1 popColorLightBG pioCard">
                        <h3 class="popColorDark">Population</h3>
                        <ul class="mdc-deprecated-list pioList">
                            {% for p in abstract['Population'] %}
                            <li class="mdc-deprecated-list-item popColorDarker">
                                {{ p }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="column" style="height:100%">
                    <div class="mdc-elevation--z1 intColorLightBG pioCard">
                        <h3 class="intColorDark">Intervention</h3>
                        <ul class="mdc-deprecated-list pioList">
                            {% for i in abstract['Intervention'] %}
                            <li class="mdc-deprecated-list-item intColorDarker">
                                {{ i }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="column" style="height:100%">
                    <div class="mdc-elevation--z1 outColorLightBG pioCard">
                        <h3 class="outColorDark">Outcome</h3>
                        <ul class="mdc-deprecated-list pioList">
                            {% for o in abstract['Outcome'] %}
                            <li class="mdc-deprecated-list-item outColorDarker">
                                {{ o }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% if not loop.last %}
        {% endif %}
        {% endfor %}
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "300px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }
    </script>

    {% endblock %}
</body>

</html>
